* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 10px;
}
a {
  text-decoration: none;
}
/* 头部 */
body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* 内容 */
}
body .head {
  width: 100%;
  height: 23.5rem;
  background: url(../image/my/bg1.png) no-repeat 1px 1px;
  background-size: 38rem;
  display: flex;
  flex-direction: column;
}
body .head .top {
  width: 13rem;
  height: 4.5rem;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  margin-left: 24rem;
}
body .head .top .t1 {
  width: 3rem;
  height: 3.5rem;
  padding-top: 0.7rem;
}
body .head .top .t1 img {
  width: 100%;
  height: 100%;
}
body .head .top .t2 {
  width: 3rem;
  height: 3.5rem;
  padding-top: 0.7rem;
}
body .head .top .t2 img {
  width: 100%;
  height: 100%;
}
body .head .down {
  width: 100%;
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body .head .down .pic {
  width: 7rem;
  height: 7rem;
}
body .head .down .pic img {
  width: 100%;
  height: 100%;
}
body .head .down button {
  width: 8rem;
  height: 4rem;
  border: 0.1rem solid white;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1.6rem;
  color: white;
}
body .nr {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
body .nr .n1 {
  width: 90%;
  height: 4rem;
  border-bottom: 0.1rem solid #c5c5c5;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}
body .nr .n1 span:nth-of-type(1) {
  width: 5rem;
  height: 5rem;
  background: url(../image/my/icon1.png) no-repeat 0.8rem 0.5rem;
  background-size: 2rem;
  margin-top: 0.5rem;
}
body .nr .n1 a {
  font-size: 1.4rem;
  line-height: 4rem;
  color: #888888;
  margin-left: -20rem;
}
body .nr .n1 span:nth-of-type(2) {
  width: 3rem;
  height: 3rem;
  background: url(../image/my/right.png) no-repeat 2rem 0.5rem;
  background-size: 0.9rem;
  margin-top: 0.5rem;
}
body .nr .n2 {
  width: 90%;
  height: 4rem;
  border-bottom: 0.1rem solid #c5c5c5;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}
body .nr .n2 span:nth-of-type(1) {
  width: 5rem;
  height: 5rem;
  background: url(../image/my/icon2.png) no-repeat 0.8rem 0.5rem;
  background-size: 2rem;
  margin-top: 0.5rem;
}
body .nr .n2 a {
  font-size: 1.4rem;
  line-height: 4rem;
  color: #888888;
  margin-left: -20rem;
}
body .nr .n2 span:nth-of-type(2) {
  width: 3rem;
  height: 3rem;
  background: url(../image/my/right.png) no-repeat 2rem 0.5rem;
  background-size: 0.9rem;
  margin-top: 0.5rem;
}
body .nr .n3 {
  width: 90%;
  height: 4rem;
  border-bottom: 0.1rem solid #c5c5c5;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}
body .nr .n3 span:nth-of-type(1) {
  width: 5rem;
  height: 5rem;
  background: url(../image/my/icon3.png) no-repeat 0.8rem 0.5rem;
  background-size: 2rem;
  margin-top: 0.5rem;
}
body .nr .n3 a {
  font-size: 1.4rem;
  line-height: 4rem;
  color: #888888;
  margin-left: -20rem;
}
body .nr .n3 span:nth-of-type(2) {
  width: 3rem;
  height: 3rem;
  background: url(../image/my/right.png) no-repeat 2rem 0.5rem;
  background-size: 0.9rem;
  margin-top: 0.5rem;
}
body .nr .n4 {
  width: 90%;
  height: 4rem;
  border-bottom: 0.1rem solid #c5c5c5;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
}
body .nr .n4 span:nth-of-type(1) {
  width: 5rem;
  height: 5rem;
  background: url(../image/my/icon4.png) no-repeat 0.8rem 0.5rem;
  background-size: 2rem;
  margin-top: 0.5rem;
}
body .nr .n4 a {
  font-size: 1.4rem;
  line-height: 4rem;
  color: #888888;
  margin-left: -20rem;
}
body .nr .n4 span:nth-of-type(2) {
  width: 3rem;
  height: 3rem;
  background: url(../image/my/right.png) no-repeat 2rem 0.5rem;
  background-size: 0.9rem;
  margin-top: 0.5rem;
}
